<header>
    <nav>
        <a href="{{ url_for('index') }}" class="logo">SkapSec</a>
        <ul>
            <li><a href="{{ url_for('index') }}" class="{{ 'active' if request.endpoint == 'index' else '' }}">Home</a></li>
            <li><a href="{{ url_for('analyzer_page') }}" class="{{ 'active' if request.endpoint == 'analyzer_page' else '' }}">Analyzer</a></li>
            <li><a href="{{ url_for('about_page') }}" class="{{ 'active' if request.endpoint == 'about_page' else '' }}">About</a></li>
        </ul>
    </nav>
</header>
